# Decision Tree Algorithm 
A decision tree is a structure that includes a root node which is the top most node, branches, and leaf nodes.Each internal nodes represent the features of a dataset, branches represent the decision rules and each leaf node represents the outcome and holds the class label.
In a decision tree, for predicting the class of the given dataset, the algorithm starts from the root node of the tree. This algorithm compares the values of root attribute with the record (real dataset) attribute and, based on the comparison, follows the branch and jumps to the next node.

This is an example of a classification tree where the target variable is in categories and the tree is used to identify the class within which a target variable would likely to fall into.

In [1]:
import pandas as pd
# read excel with pandas 
from pandas import ExcelWriter
from pandas import ExcelFile

import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

df = pd.read_excel('resources/datasets/data_farmer.xlsx', sheet_name='whole')

print("Column headings:")
print(df.columns)
df

Column headings:
Index(['Name', 'Gender', 'Age', 'Most common search food', 'Date Bought',
       'Total Price', 'System will recommed'],
      dtype='object')

,Name,Gender,Age,Most common search food,Date Bought,Total Price,System will recommed
0,William,M,16,Fruits,2021-03-01,200,Apple
1,John,M,17,Fruits,2021-03-01,150,Potatos
2,Jack,M,19,Vitamin C Fruit,2021-03-01,220,Cantaloupe
3,Mary,F,21,Vitamin C Fruit,2021-03-01,300,Grapefruit
4,Sam,F,22,Fruits,2021-03-01,250,Avocado
5,Alex,F,25,Fruits,2021-03-01,110,Watermelon
6,Nick,M,25,Fruits,2021-04-01,450,Watermelon
7,Sharon,F,29,Vegetables,2021-04-01,300,Ginger
8,Micheal,M,30,High carbohydrates food,2021-04-01,450,Sweet Potatoes
9,Randy,M,38,High carbohydrates food,2021-04-01,302,Oats
10,Eric,M,39,High carbohydrates food,2021-04-01,213,Banana
11,Josh,M,40,High carbohydrates food,2021-04-01,110,Sweet Potatoes
12,Sandra,F,45,Vegetables,2021-04-01,200,Broccoli
13,Ruth,F,46,Vegetables,2021-04-01,390,Sukuma wiki
14,Oscar,M,48,Vegetables,2021-05-01,210,Carrot
15,Cleo,F,50,High proteins food,2021-05-01,210,Eggs
16,Lily,F,53,High proteins food,2021-05-01,100,Green peas
17,Georgia,F,55,High proteins food,2021-05-01,90,Oats
18,Juliet,F,55,High proteins food,2021-05-01,70,Chicken breast
19,Edward,M,60,Fruits,2021-05-01,160,Mangos

In [26]:
def getAnalysis(x):
  if (x == 'Fruits'):
    return '1'
  if (x == 'Vitamin C Fruit'):
    return '2'
  if (x == 'Vegetables'):
    return '3'
  if (x == 'High carbohydrates food'):
    return '4'
  else:
    return '5'

df['foodid'] = df['Most common search food'].apply(getAnalysis)
# test['rel'] = test['Label'].apply(getAnalysis)
df

,Name,Gender,Age,Most common search food,Date Bought,Total Price,System will recommed,foodid
0,William,M,16,Fruits,2021-03-01,200,Apple,1
1,John,M,17,Fruits,2021-03-01,150,Potatos,1
2,Jack,M,19,Vitamin C Fruit,2021-03-01,220,Cantaloupe,2
3,Mary,F,21,Vitamin C Fruit,2021-03-01,300,Grapefruit,2
4,Sam,F,22,Fruits,2021-03-01,250,Avocado,1
5,Alex,F,25,Fruits,2021-03-01,110,Watermelon,1
6,Nick,M,25,Fruits,2021-04-01,450,Watermelon,1
7,Sharon,F,29,Vegetables,2021-04-01,300,Ginger,3
8,Micheal,M,30,High carbohydrates food,2021-04-01,450,Sweet Potatoes,4
9,Randy,M,38,High carbohydrates food,2021-04-01,302,Oats,4
10,Eric,M,39,High carbohydrates food,2021-04-01,213,Banana,4
11,Josh,M,40,High carbohydrates food,2021-04-01,110,Sweet Potatoes,4
12,Sandra,F,45,Vegetables,2021-04-01,200,Broccoli,3
13,Ruth,F,46,Vegetables,2021-04-01,390,Sukuma wiki,3
14,Oscar,M,48,Vegetables,2021-05-01,210,Carrot,3
15,Cleo,F,50,High proteins food,2021-05-01,210,Eggs,5
16,Lily,F,53,High proteins food,2021-05-01,100,Green peas,5
17,Georgia,F,55,High proteins food,2021-05-01,90,Oats,5
18,Juliet,F,55,High proteins food,2021-05-01,70,Chicken breast,5
19,Edward,M,60,Fruits,2021-05-01,160,Mangos,1

# Exploratory analysis

In [27]:
# checking for missing values
df.isnull().sum()

Name                       0
Gender                     0
Age                        0
Most common search food    0
Date Bought                0
Total Price                0
System will recommed       0
foodid                     0
dtype: int64

In [28]:
# Total number of users
len(df)

20

# Descriptive analysis

In [29]:
# descriptive analysis
df.describe()

             Age  Total Price
count  20.000000    20.000000
mean   36.650000   224.250000
std    14.375692   112.930288
min    16.000000    70.000000
25%    24.250000   140.000000
50%    38.500000   210.000000
75%    48.500000   300.000000
max    60.000000   450.000000

# Separating input variables (x) and target variable (output)

In [31]:
x = df.drop(columns=['System will recommed','Total Price','Date Bought','Gender','Name','Most common search food'])
output = df['System will recommed']
x.head()

   Age foodid
0   16      1
1   17      1
2   19      2
3   21      2
4   22      1

In [32]:
output.head()

0         Apple
1       Potatos
2    Cantaloupe
3    Grapefruit
4       Avocado
Name: System will recommed, dtype: object

# Train and Test Split , Building the model , Predicting and getting the accuracy

In [20]:
# building and predicting the model 
model = DecisionTreeClassifier()
model.fit(x,output)
predictions = model.predict([[35,4],[47,5]])
predictions

array(['Oats', 'Eggs'], dtype=object)

In [10]:
model = DecisionTreeClassifier()
# splitting the data into testing 20% and training80%
x_train, x_test, output_train, output_test = train_test_split(x, output, test_size=0.2)
model.fit(x_train,output_train)
predictions = model.predict(x_test)
accuracy = accuracy_score(output_test, predictions)
accuracy

0.25